body {
    background-color: beige;
    text-align: center;
}
/* #container {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}
.boxes {
    flex: 0.5;
    padding: 5px;
} */
table {
    float: left;
    width: 15%;
    margin-right: 0px;
    border: 1px solid #ccc;
}
.center-content {
    width: 70%;
    margin: 0 auto;
}

/* CSS for textfields */
.text-field {
    display: inline;
    margin-bottom: 10px;
}

h2 {
    color: rgb(255, 0, 0);
}
p {
    font-family:'Trebuchet MS';
}
button {
    border-radius: 25px;
    border: 0px;
    background-color: rgb(255, 0, 0);
    color: white;
    width:5%;
}

table, th, td {
    border: 1px solid black;
}